<div class="col-md-offset-4 col-md-4">
  <h2>adding group</h2>
  <hr>
  <% render "form" %>
  <!-- <%= form_for @group do |f| %>
  <% if @group.errors.any? %>
  <ul>
    <% @group.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
  title
  <%= f.text_field :title %>
  <br>
  description
  <br>
  <%= f.text_area :description %>
  <br>
  <%= f.submit "Submit", :disable_with => 'Submiting...' %>
  <% end %> -->
</div>
